@model MvcKutuphane.Models.Entity.TBLUYELER
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminLTE 3 | User Profile</title>

    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- Font Awesome -->

    <link rel="stylesheet" href="~/Template/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->

    <link rel="stylesheet" href="~/Template/AdminLTE-3.0.4/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">

    <!-- Navbar -->
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- Main content -->

    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3">



                    <!-- Profile Image -->

                    <div class="card card-primary card-outline">

                        <div class="card-body box-profile">

                            <div class="text-center">

                                <img class="profile-user-img img-fluid img-circle"
                                     src="../../dist/img/user4-128x128.jpg"
                                     alt="User profile picture">

                            </div>



                            <h3 class="profile-username text-center">Nina Mcintire</h3>



                            <p class="text-muted text-center">Software Engineer</p>



                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Followers</b> <a class="float-right">1,322</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Following</b> <a class="float-right">543</a>
                                </li>

                                <li class="list-group-item">

                                    <b>Friends</b> <a class="float-right">13,287</a>

                                </li>

                            </ul>



                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>

                        </div>

                        <!-- /.card-body -->

                    </div>

                    <!-- /.card -->
                    <!-- About Me Box -->

                    <div class="card card-primary">

                        <div class="card-header">

                            <h3 class="card-title">About Me</h3>

                        </div>

                        <!-- /.card-header -->

                        <div class="card-body">

                            <strong><i class="fas fa-book mr-1"></i> Education</strong>



                            <p class="text-muted">

                                B.S. in Computer Science from the University of Tennessee at Knoxville

                            </p>



                            <hr>



                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>



                            <p class="text-muted">Malibu, California</p>



                            <hr>



                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>



                            <p class="text-muted">

                                <span class="tag tag-danger">UI Design</span>

                                <span class="tag tag-success">Coding</span>

                                <span class="tag tag-info">Javascript</span>

                                <span class="tag tag-warning">PHP</span>

                                <span class="tag tag-primary">Node.js</span>

                            </p>



                            <hr>



                            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>



                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

                        </div>

                        <!-- /.card-body -->

                    </div>

                    <!-- /.card -->

                </div>

                <!-- /.col -->

                <div class="col-md-9">

                    <div class="card">

                        <div class="card-header p-2">

                            <ul class="nav nav-pills">

                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>



                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>

                            </ul>

                        </div><!-- /.card-header -->

                        <div class="card-body">

                            <div class="tab-content">

                                <div class="active tab-pane" id="activity">

                                    <!-- Post -->
                                    @Html.Partial("Partial1")
                                    <div class="post">
                                    </div>
                                </div>
                                <div class="tab-pane" id="settings">

                                    @using (Html.BeginForm("Index2", "Panelim", FormMethod.Post))

                                    {

                                        <form class="form-horizontal">

                                            <div class="form-group row">

                                                <label for="inputName" class="col-sm-2 col-form-label">Ad</label>

                                                <div class="col-sm-10">

                                                    @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })

                                                </div>

                                            </div>

                                            <div class="form-group row">

                                                <label for="inputName" class="col-sm-2 col-form-label">Soyad</label>

                                                <div class="col-sm-10">

                                                    @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control" })

                                                </div>

                                            </div>

                                            <div class="form-group row">

                                                <label for="inputName" class="col-sm-2 col-form-label">Kullanıcı Adı</label>

                                                <div class="col-sm-10">

                                                    @Html.TextBoxFor(x => x.KULLANICIADI, new { @class = "form-control" })

                                                </div>

                                            </div>

                                            <div class="form-group row">

                                                <label for="inputName" class="col-sm-2 col-form-label">Şifre</label>

                                                <div class="col-sm-10">

                                                    @Html.TextBoxFor(x => x.SIFRE, new { @class = "form-control" })

                                                </div>

                                            </div>

                                            <div class="form-group row">

                                                <label for="inputName" class="col-sm-2 col-form-label">Fotoğraf</label>

                                                <div class="col-sm-10">

                                                    @Html.TextBoxFor(x => x.FOTOGRAF, new { @class = "form-control" })

                                                </div>

                                            </div>

                                            <div class="form-group row">

                                                <label for="inputName" class="col-sm-2 col-form-label">Okul</label>

                                                <div class="col-sm-10">

                                                    @Html.TextBoxFor(x => x.OKUL, new { @class = "form-control" })

                                                </div>

                                            </div>

                                            <div class="form-group row">

                                                <div class="offset-sm-2 col-sm-10">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button type="submit" class="btn btn-danger">Güncelle</button>
                                                </div>
                                            </div>
                                        </form>
                                    }
                                </div>

                                <!-- /.tab-pane -->

                            </div>

                            <!-- /.tab-content -->

                        </div><!-- /.card-body -->

                    </div>

                    <!-- /.nav-tabs-custom -->

                </div>

                <!-- /.col -->

            </div>

            <!-- /.row -->

        </div><!-- /.container-fluid -->

    </section>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- jQuery -->
    <script src=".~/Template/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->

    <script src="~/Template/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->

    <script src="~/Template/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>

    <!-- AdminLTE for demo purposes -->

    <script src="~/Template/AdminLTE-3.0.4/dist/js/demo.js"></script>

</body>

</html>

