@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "UyeKitapGecmis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.member Kitap Geçmişi</h2>
<br />
<table class="table table-hover">
    <tr>
        <th>KİTAP AD</th>
        <th>PERSONEL</th>
        <th>ALIŞ TARİH</th>
        <th>İADE TARİH</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.TBLKITAP.AD</td>
            <td>@x.PERSONEL</td>
            <td>@Convert.ToDateTime(x.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(x.IADETARIH).ToString("dd/MM/yyyy")</td>
        </tr>
    } 
</table>
